In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.read_csv("Datasets/veriler.csv")

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [3]:
dataFrame1 = pd.read_csv("Datasets/eksikveriler.csv")

In [4]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")

In [5]:
yas = dataFrame1.iloc[:,1:4].values

In [6]:
yas

array([[130.,  30.,  10.],
       [125.,  36.,  11.],
       [135.,  34.,  10.],
       [133.,  30.,   9.],
       [129.,  38.,  12.],
       [180.,  90.,  30.],
       [190.,  80.,  25.],
       [175.,  90.,  35.],
       [177.,  60.,  22.],
       [185., 105.,  33.],
       [165.,  55.,  27.],
       [155.,  50.,  44.],
       [160.,  58.,  nan],
       [162.,  59.,  41.],
       [167.,  62.,  55.],
       [174.,  70.,  47.],
       [193.,  90.,  nan],
       [187.,  80.,  27.],
       [183.,  88.,  28.],
       [159.,  40.,  29.],
       [164.,  66.,  32.],
       [166.,  56.,  42.]])

In [7]:
imputer = imputer.fit(yas[:,1:4])
yas[:,1:4]  = imputer.transform(yas[:,1:4])
yas

array([[130.  ,  30.  ,  10.  ],
       [125.  ,  36.  ,  11.  ],
       [135.  ,  34.  ,  10.  ],
       [133.  ,  30.  ,   9.  ],
       [129.  ,  38.  ,  12.  ],
       [180.  ,  90.  ,  30.  ],
       [190.  ,  80.  ,  25.  ],
       [175.  ,  90.  ,  35.  ],
       [177.  ,  60.  ,  22.  ],
       [185.  , 105.  ,  33.  ],
       [165.  ,  55.  ,  27.  ],
       [155.  ,  50.  ,  44.  ],
       [160.  ,  58.  ,  28.45],
       [162.  ,  59.  ,  41.  ],
       [167.  ,  62.  ,  55.  ],
       [174.  ,  70.  ,  47.  ],
       [193.  ,  90.  ,  28.45],
       [187.  ,  80.  ,  27.  ],
       [183.  ,  88.  ,  28.  ],
       [159.  ,  40.  ,  29.  ],
       [164.  ,  66.  ,  32.  ],
       [166.  ,  56.  ,  42.  ]])

In [8]:
#dataFrame1.loc[:,"yas"].mean()

In [9]:
#dataFrame1.loc[dataFrame1.yas.isnull(),"yas"] = dataFrame1.loc[:,"yas"].mean()

In [10]:
dataFrame1

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

In [11]:
ulke = dataFrame1.loc[:,"ulke"]

In [12]:
from sklearn import preprocessing

In [13]:
le = preprocessing.LabelEncoder()

In [14]:
ulke = le.fit_transform(ulke).reshape(-1, 1)

In [15]:
ulke

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

In [16]:
ohe = preprocessing.OneHotEncoder()
ulke = ohe.fit_transform(ulke).toarray()

In [17]:
ulke

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [18]:
sonuc = pd.DataFrame(data=ulke,columns=["fr","tr","us"])

In [19]:
sonuc

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [22]:
yas =pd.DataFrame(data=yas,index=range(22),columns=["boy","kilo","yas"])
s = pd.concat([sonuc,yas],axis=1)

In [26]:
cinsiyet = dataFrame1.loc[:,"cinsiyet"]
dataFrame2 = pd.concat([s,cinsiyet],axis=1)

In [24]:
from sklearn.model_selection import train_test_split

In [27]:
y = dataFrame2["cinsiyet"].values
x = dataFrame2.drop("cinsiyet", axis = 1).values

In [30]:
xTrain,xtest,yTrain,yTest = train_test_split(x,y,test_size=0.33)

In [31]:
from sklearn.preprocessing import StandardScaler

In [35]:
sc = StandardScaler()
XTrain = sc.fit_transform(xTrain)
XTest = sc.fit_transform(xtest)
XTrain

array([[-0.40824829,  1.        , -0.74535599, -1.44366668, -0.83892926,
        -1.05845659],
       [-0.40824829, -1.        ,  1.34164079, -0.05932877, -0.23881928,
         1.38780126],
       [-0.40824829,  1.        , -0.74535599, -1.0745099 , -1.09611926,
        -1.20671464],
       [-0.40824829, -1.        ,  1.34164079,  0.4021172 , -0.02449429,
         0.12760782],
       [ 2.44948974, -1.        , -0.74535599,  0.12524962, -0.66746927,
         0.27586587],
       [-0.40824829,  1.        , -0.74535599, -1.25908829, -0.75319927,
        -0.98432756],
       [-0.40824829,  1.        , -0.74535599, -1.21294369, -1.09611926,
        -1.13258561],
       [-0.40824829,  1.        , -0.74535599,  0.86356317,  1.47578068,
         0.72064003],
       [ 2.44948974, -1.        , -0.74535599,  1.69416592,  1.47578068,
         0.23509491],
       [-0.40824829,  1.        , -0.74535599, -0.98222071, -0.92465926,
        -1.13258561],
       [-0.40824829, -1.        ,  1.34164079,  0.4944064 ,  0.27556071,
         2.20322054],
       [-0.40824829, -1.        ,  1.34164079,  0.17139422,  0.10410071,
         0.23509491],
       [-0.40824829, -1.        ,  1.34164079,  1.32500914,  2.11875566,
         0.57238198],
       [-0.40824829,  1.        , -0.74535599,  0.95585237,  0.18983071,
        -0.24303731]])